.wrapper{
  display:flex;
  border-radius:5px;
  padding:6px;
  padding-left:2%;
  justify-content: space-between;
}
.chips{
  display:flex;
  justify-content: left;
  margin-left:4em;
  font-size:0.6em;
}
.title{
  font-size:1.2em;
  transform: translateY(20%);
}
